@{
    ViewBag.Title = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sparta Global</h1>
    <h2>Bug Tracker</h2>
    <p>Click @Html.ActionLink("here", "Index", "Bugs") to go to the main menu</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project Outline</h2>

        <p>Click @Html.ActionLink("here", "About", "Home") to learn about the current status of the BugTracker</p>
    </div>
    <div class="col-md-4">
        <h2>Instructions</h2>
        <p>Choose which entity to create by using the navigation bar at the top of the page. 
        You will then see all existing entities. Options will appear on screen for creating, deleting and receiving information. 
        Feedback will be provided to the user to ensure the data is captured correctly.</p>
    </div>
</div>
