@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sparta Global</h1>
    <h2>Bug Tracker</h2>
    <p>Clcik @Html.ActionLink("here", "Index", "Bugs") to go to the main menu</p>
</div>
